<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.14363641298-9oh5qttglms2a2usca772bp054lm7pii</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Easy Flashcards precisa acessar o microfone para o treino de pronúncia das palavras.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Easy Flashcards precisa do reconhecimento de fala para avaliar sua pronúncia durante o treino.</string>
</dict>
</plist>
